# Dependências
node_modules
dist
build

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Testes
coverage
.nyc_output

# IDEs
.idea
.vscode
*.swp
*.swo

# Env
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/**/migration.sql

# Build
*.tsbuildinfo
